*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}
html,body{
    width: 100%;
    height: auto;
}
.wrapper{
    overflow: hidden;
    width: 100%;
    z-index: -10;
}
ul,li{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    background-color: rgba(0,0,0,0);
    border: none;
}

/* header */
header{
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.con_bg{
    position: absolute;
    width: 100%;
    height: 1080px;
    z-index: -1;
}
.img_bg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.fall{
    width: 1920px;
}
.img_dot{
    position: absolute;
    width: 90%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.img_dot_l{
    display: block;
}
.img_dot_m{
    display: none;
}
.img_dot_s{
    display: none;
}
.img_rcircle{
    position: absolute;
    width: 12vw;
    min-width: 135px;
    top: 185px;
    right: 7.8vw;
}
.img_lcircle{
    position: absolute;
    width: 9.37vw;
    min-width: 115px;
    top: 710px;
    left: 10.41vw;
}
.img_ccircle{
    position: absolute;
    width: 24vw;
    min-width: 245px;
    top: 680px;
    left: 50.5vw;
}
.img_rbglogo{
    position: absolute;
    width: 15.1vw;
    min-width: 145px;
    top: 65px;
    right: 5vw;
}
.img_lbglogo{
    position: absolute;
    width: 15.1vw;
    min-width: 145px;
    top: 540px;
    left: 5.72vw;
}

/* header ::content */
.con_hcenter{
    width: 81vw;
    min-width: 680px;
    height: 26vw;
    min-height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img_linede{
    width: 3.2%;
}
.con_hccontent{
    position: relative;
    width: 93.6%;
    height: 26vw;
    min-height: 240px;
    border:1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img_rlinede{
    align-self: flex-end;
}
.img_llinede{
    align-self: flex-start;
}
.img_hclogo_bg{
    position: absolute;
    width: 70.3vw;
    min-width: 557px;
}
.con_hccontent .t_hc{    
    position: absolute;
    bottom: 3%;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
}
.con_hclogo{
    width: 51.3%;
    min-width: 353px;
    height: 19vw;
    display: grid;
    grid-template-rows: 75% auto;
    align-items: end;
}
.img_hclogo{
    width: 34vw;
    min-width: 327px;
}
.img_hclogoline{
    width: 34.58vw;
    min-width: 350px;
    align-self: center;
    justify-self: end;
}
.img_wave{
    position: absolute;
    width: 100%;
    top: 1080px;
    transform: translateY(-100%);
}
.img_harrow{
    cursor: pointer;
    position: absolute;
    width: 35px;
    top: 1035px;
}

@media screen and (max-width:1280px){
    .t_hc{    
        font-size: 22px;
    }
}

@media screen and (max-width:1024px){
    .img_rbglogo{
        top: 240px;
        right: 5vw;
    }
    .img_lbglogo{
        top: 670px;
        left: 5.72vw;
    }
    .img_rcircle{
        top: 320px;
        right: 5vw;
    }
    .img_ccircle{
        top: 750px;
        left: 58vw;
    }
    .t_hc{    
        bottom: -20%;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 5px;
    }
    .img_harrow{
        width: 30px;
    }
}


@media screen and (max-width:768px){
    .fall{
        position: absolute;
        width: 1280px;
        left: -30%;
        top: 10%;
        /* transform: translate(100%,100%); */
    }
    .img_dot{
        position: absolute;
        width: 1000px;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .img_dot_l{
        display: none;
    }
    .img_dot_m{
        display: block;
        width: 80%;
    }
    .img_dot_s{
        display: none;
    }
    .t_hc{    
        font-size: 18px;
        font-weight: 200;
    }
    .img_wave{
        display: none;
    }
    .img_linede{
        width: 3.2%;
    }
    .con_hccontent{
        width: 85vw;
        height: 26vw;
        min-height: 250px;
    }
    .con_hclogo{
        width: 45.5vw;
        min-width: 260px;
        height: 150px;
    }
    .img_hclogo{
        width: 42vw;
        min-width: 260px;
    }
    .img_hclogoline{
        width: 45.5vw;
        min-width: 260px;
    }
}


@media screen and (max-width:480px){
    .img_rcircle{
        width: 90px;
        top: 80px;
        right: 35px;
    }
    .img_rbglogo{
        top: 150px;
    }
    .img_lcircle{
        width: 90px;
        top: 265px;
        left: 30px;
    }
    .t_hc{    
        font-size: 16px;
        letter-spacing: 4px;
    }
}

@media screen and (max-width:320px){
    .fall{
        position: absolute;
        width: 1000px;
        left: -60%;
        top: 5%;
        /* transform: translate(100%,100%); */
    }
    .img_dot{
        position: absolute;
        width: 100%;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }
    .img_dot_l{
        display: none;
    }
    .img_dot_m{
        display: none;
    }
    .img_dot_s{
        display: block;
        width: 80%;
    }
    header{
        height: 812px;
    }
    .con_bg{
        height: 812px;
    }
    .img_rcircle{
        width: 90px;
        min-width: 90px;
    }
    .img_lcircle{
        width: 90px;
        min-width: 90px;
        left: 15px;
        top: 250px
    }
    .img_rbglogo{
        top: 125px;
        right: -5px;
    }
    .img_lbglogo{
        top: 490px;
        left: -15px;
    }
    .img_ccircle{
        width: 150px;
        min-width: 150px;
        top: 600px;
        right: -300px;
    }
    .con_hccontent{
        width: 250px;
        height: 26vw;
        min-height: 250px;
    }
    .con_hclogo{
        width: 200px;
        min-width: 200px;
        height: 100px;
    }
    .img_hclogo{
        width: 200px;
        min-width: 200px;
    }
    .img_hclogoline{
        width: 200px;
        min-width: 200px;
    }
    .img_hclogo_bg{
        width: 450px;
    }
    .t_hc{    
        bottom: 15px;
        font-size: 12px;
        font-weight: 200;
    }
    .img_harrow{
        top: 770px;
        width: 25px;
        min-width: 25px;
    }
}

section{
    position: relative;
    height: 1080px;
    background-color: #251D44;
}
.section1{
    position: relative;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 0;
}
.section1 .con_htop{
    top:30px;
}
.ar_ls1{
    opacity: 0;
    margin:0 0 0 10vw;
    min-width: 500px;
    height: auto;
}
.ar_rs1{
    margin:-50px 7.5vw 0 0;
    min-width: 460px;
    font-weight: 300;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.bg_triangle{
    position: absolute;
    bottom: 0;
    right:0;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 0px 800px 98.8vw;
    border-color: transparent transparent #FF5C85 transparent;
    z-index: -1;
}
.ar_ls1 ul{
    min-width: 500px;
    display: flex;
    justify-content: space-between;
}
.ar_ls1 .btn_li{
    font-size: 22px;
    letter-spacing: 3px;
    font-weight: 300;
    margin-top: 8px;
}
.ar_ls1 li{
    position: relative;
}
.ar_ls1 .box_li{
    width: 0%;
    position: absolute;
    border-top: 3px solid #FF5C85;
    left: 50%;
    transition: all .2s;
    transform:translateX(-50%);
}
.ar_ls1 .list_current{
    width: 100%;
}
.con_lcontents1{
    margin-top:40px;
    opacity: 0;
}
.con_lcontents1 h3{
    width: 400px;
    font-size: 40px;
    letter-spacing: 5px;
}
.c_current{
    opacity: 1;
}
.t_ls1{
    margin-top:40px;
    width: 480px;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 3px;
    line-height: 40px;
}
.btn_more{
    display: block;
    position: relative;
    margin-top: 50px;
    background-color: #fff;
    color: #251D44;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    width: 100px;
    padding: 4px 0;
    text-align: center;
    height: 36px;
    border-radius: 50px;
    transition: all .5s;
}
.btn_more:hover{
    padding: 3px 0;
    border:2px solid white;
    background-color: #251D44;
    color: #fff;
}


.img_city{
    width: 42.5vw;
    min-width: 460px;
    margin-bottom: 20px;
    position: absolute;
    opacity: 0;
}
.con_btns1{
    position: absolute;
    bottom: 60px;
    right: 80px;
    width: 70px;
    display: flex;
    justify-content: space-between;
}
.con_tcity{
    width: 500px;
    position: relative;
    text-align: center;
}
.t_citymusic{
    width: 100%;
    position: relative;
    margin-bottom: 5px;
    opacity: 0;
}
.img_btns1{
    height:35px;
    cursor: pointer;
}
.tcm_current{
    opacity: 1;
}

@media screen and (max-width:1280px){
    .t_ls1{
        display: none;
    }
    .section1{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 150px;
    }
    .section1 .con_htop{
        top:10px;
    }
    .ar_ls1{
        margin:0 0 30px 0;
        min-width: 500px;
        height: auto;
    }
    .ar_rs1{
        margin:0 0 100px 0;
        min-width: 460px;
        height: 600px;
    }
    .ar_ls1 ul{
        margin-top:10px;
    }
    .ar_ls1 .btn_li{
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: 300;
        margin-top: 8px;
    }
    .con_lcontents1{
        margin-top:20px;
    }
    .btn_more{
        margin-top: 30px;
    }
    .con_btns1{
        bottom: auto;
        top:65%;
        right: auto;
        width: 90vw;
    }
}
@media screen and (max-width:768px){
    .ar_rs1 {
        margin: 0 0 150px 0;
        height: 510px;
    }
    .ar_ls1 {
        justify-items: center;
        width: 400px;
        min-width: 400px;
    }
    .ar_ls1 ul {
        width: 400px;
        min-width: 400px;
    }
    .ar_ls1 .btn_li{
        font-size: 18px;
        letter-spacing: 3px;
    }
    .con_lcontents1 h3{
        width: 400px;
        font-size: 38px;
    }
    .btn_more{
        margin-top: 30px;
        font-size: 16px;
        font-weight: 800;
        width: 90px;
        height: 34px;
    }
    .img_city{
        width: 60vw;
        min-width: 200px;
        margin-bottom: 15px;
    }
    .con_tcity{
        width: 300px;
        text-align: center;
    }
}
@media screen and (max-width:480px){
    section{
        height: 812px;
    }
    .section1 {
        padding-top: 150px;
    }
    .bg_triangle{
        border-width: 0px 0px 500px 100vw;
        border-color: transparent transparent #FF5C85 transparent;
        z-index: -1
    }
    .ar_rs1 {
        margin: 0 0 20% 0;
        width: 300px;
        min-width: 300px;
        height: 500px;
    }
    .ar_ls1 {
        width: 260px;
        min-width: 260px;
    }
    .ar_ls1 ul {
        width: 260px;
        min-width: 260px;
    }
    .ar_ls1 .box_li{
        border-top: 2px solid #FF5C85;
    }
    .ar_ls1 .btn_li{
        font-size: 12px;
        letter-spacing: 2px;
    }
    .con_lcontents1 h3{
        width: 250px;
        font-size: 26px;
        letter-spacing: 3px;
    }
    .btn_more{
        margin-top: 20px;
        font-size: 14px;
        width: 86px;
        height: 32px;
    }
    .img_city{
        width: 60vw;
        min-width: 200px;
        margin-bottom: 15px;
    }
    .t_citymusic{
        margin-bottom: 0px;
    }
}
@media screen and (max-width:320px){
    .ar_rs1 {
        margin: 0 0 75px 0;
    }
}


.positionab{
    position: absolute;
}




.img_wave{
    transform: translateY(100%);
    /* 0.25s */
    animation: showup2 0.75s ease-in-out 1.45s 1;
    animation-fill-mode: forwards;
}
.city_current{
    opacity: 1;
    transform: translateY(-10px);
    position: relative;
    animation: citymove 1s linear 0s infinite alternate-reverse;
}
#content1{
    overflow: hidden;
}
.ar_rs1{
    opacity: 0;
}
.con_lcontents1 h3,.t_ls1{
    opacity: 1;
    transform: translateY(450px);
}
.btn_more{
    opacity: 1;
}
.hl_anim{
    animation: showup3 0.75s ease-in-out 0.5s 1;
    animation-fill-mode: forwards;
}
.p_anim{
    animation: showup3 0.5s linear 1.25s 1;
    animation-fill-mode: forwards;
}

@keyframes showup2{
    from{transform: translateY(0%);opacity: 0;}
    to{transform: translateY(-100%);opacity: 1;}
}
@keyframes showup3{
    from{transform: translateX(-450px);opacity: 0;}
    to{transform: translateX(0);opacity: 1;}
}
@keyframes showup4{
    from{transform: translateY(100%);opacity: 0;}
    to{transform: translateY(0);opacity: 1;}
}
@keyframes citymove{
    from{transform: translateY(-10px);}
    to{transform: translateY(10px);}
}