.load {
    position: absolute;
    display: flex;
    z-index: 1;
    width: 100vw;
    height: 100%;
    background-color: #722A6B;
    transition: 1s;
}

.loadani {
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
    top: 40%;
    left: 44.5%;
}