.load {
    display: flex;
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100%;
    background-color: rgba(66, 31, 96, 1);
    transition: all 0.5s;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.loadani {
    width: 200px;
    height: 200px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.logoworld {
    width: 200px;
    font-size: 23px;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    letter-spacing: 10px;
}