.load {
    position: fixed;
    display: flex;
    z-index: 999;
    width: 100vw;
    height: 100%;
    background-color: rgba(66, 31, 96, 1);
    transition: all 0.5s;
}

.loadani {
    position: fixed;
    width: 200px;
    height: 200px;
    overflow: hidden;
    top: 40%;
    left: 44.5%;
    transition: all 0.5s;
}

.logoworld {
    position: fixed;
    font-size: 23px;
    color: #fff;
    top: 64%;
    left: 47.3%;
    letter-spacing: 10px;
}