@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Noto Sans TC', sans-serif;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.con_htop {
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}

.a_logo {
    cursor: pointer;
    width: 90px;
    height: 90px;
}


/* .img_logo {
    cursor: pointer;
    width: 70px;
} */


/* .img_music{
    width: 40px;
} */

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

nav,
nav ul {
    display: flex;
    justify-content: center;
}

nav li {
    position: relative;
    margin: 0 2.3vw;
    font-size: 24px;
    letter-spacing: 3px;
}

nav .box_li {
    position: absolute;
    border-bottom: 1.5px solid white;
    width: 0%;
    height: 100%;
    margin-top: 5px;
    left: 50%;
    transition: all .2s;
    transform: translateX(-50%);
    z-index: -1;
}

nav li:hover>.box_li {
    width: 100%;
}

.con_link {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.img_link {
    width: 45px;
}


/* 
.con_audio{
    display: grid;
    grid-template-columns: auto 40px;
    grid-column-gap: 25px;
    font-size: 20px;
    font-weight: 500;
}
.con_aucontroller{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.t_on{
    width: 55px;
    text-align: center;
    letter-spacing: 3px;
}
.on_current{
    color: #5A2277;
    background-color: #fff;
    font-weight: 600;
}
.t_off{
    width: 55px;
    text-align: center;
    letter-spacing: 3px;
}
.h_line{
    width: 4px;
    height: 30px;
    background-color: #fff;
    margin:0 15px;
} */

@media screen and (max-width:1280px) {
    nav,
    ul {
        font-size: 20px;
    }
    /* .con_audio{
        grid-column-gap: 20px;
        font-size: 16px;
    }
    .img_music{
        width: 30px;
    }
    .t_on{
        width: 45px;
    }
    .t_off{
        width: 45px;
    } */
}

@media screen and (max-width:1024px) {
    .con_link {
        width: 90px;
    }
    .img_link {
        width: 35px;
    }
    /* .con_audio{
        display: block;
        margin-right: 20px;
    } */
    .a_logo {
        width: 65px;
    }
    /* .img_logo {
        width: 65px;
    } */
    /* .con_aucontroller{
        display: none;
    } */
}

@media screen and (max-width:768px) {
    nav li {
        position: relative;
        margin: 0 2.3vw;
        font-size: 18px;
    }
    .a_logo {
        width: 60px;
    }
    /* .img_logo {
        width: 60px;
    } */
    .con_link {
        width: 9vw;
        min-width: 62px;
    }
    .img_link {
        width: 25px;
    }
    /* .img_music{
        width: 30px;
    } */
}

@media screen and (max-width:480px) {
    nav,
    ul {
        display: none;
    }
    .con_link {
        display: none;
    }
    /* .con_audio{
        display: none;
    } */
    .con_htop {
        padding: 0 7vw;
    }
    .a_logo {
        width: 55px;
    }
    /* .img_logo {
        width: 55px;
    } */
}

@media screen and (max-width:320px) {
    .con_htop {
        height: 100px;
    }
    /* .a_logo {
        width: 40px;
    } */
    /* .img_logo {
        width: 40px;
    } */
}

.con_htop {
    opacity: 0;
    transform: translateY(0%);
    /* 0.25s */
    animation: showup1 0.75s ease-in-out 1.45s 1;
    animation-fill-mode: forwards;
}

@keyframes showup1 {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

.con_navbar {
    display: none;
}

.s_nav {
    display: none;
}

@media screen and (max-width:320px) {
    .l_nav {
        display: none;
    }
    .s_nav {
        display: block;
    }
    .con_navbar {
        position: absolute;
        top: 40px;
        right: 25px;
        width: 35px;
        height: 20px;
        display: block;
        z-index: 100;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 35px;
    }
    .con_navbar2 {
        top: 45px;
    }
    input {
        width: 35px;
        height: 20px;
        position: absolute;
        cursor: pointer;
        opacity: 0;
        z-index: 100;
    }
    span {
        display: block;
        width: 35px;
        height: 5px;
        position: relative;
        background: #fff;
        transform-origin: 15%;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0), opacity 0.55s ease;
    }
    #hamberger1:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -3px);
        background-color: #fff;
    }
    #hamberger1:checked~span:nth-last-child(1) {
        transform: rotate(-45deg) translate(2px, -1px);
    }
    #hamberger2:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -3px);
        background-color: #fff;
    }
    #hamberger2:checked~span:nth-last-child(1) {
        transform: rotate(-45deg) translate(2px, -1px);
    }
    .s_nav {
        position: fixed;
        align-self: flex-start;
        display: grid;
        align-content: center;
        grid-template-columns: 100%;
        grid-template-rows: 320px 2px 35px;
        grid-row-gap: 30px;
        top: 1.5vh;
        left: 4vw;
        height: 97vh;
        width: 92vw;
        z-index: 100;
        background-image: url(../image/home/Rectangle\ 176@2x.png);
        background-size: cover;
        padding: 0 15px;
        display: none;
        opacity: 0;
    }
    .line_sn {
        border-top: 2px solid #fff;
        margin: 0 30px;
    }
    .con_sntop {
        position: relative;
        height: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }
    .con_sntop ul {
        display: flex;
        margin: 0 30px;
        height: 200px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        letter-spacing: 3px;
        font-weight: 400;
    }
    .img_navlinede {
        position: absolute;
        width: 15px;
    }
    .img_rnavlinede {
        top: 0;
        right: 0;
    }
    .img_lnavlinede {
        left: 0;
        bottom: 0;
    }
    .con_snlink {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .con_snlink .a_link {
        margin: 0 15px
    }
}