*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
}

/* header */
header{
    width:100%;
    height:100vh;
    background-image: url(/image/首頁拆件/bg_color.png);
    position: relative;
}
.container_bgobject{
    position: absolute;
    width:100%;
}
.img_circle_right{
    right:7.8vw;
    top:17vh;
    position: absolute;
}
.img_circle_left{
    position: absolute;
    left:210px;
    top:64.8vh;
}